<input type="hidden" id="chat-room-id" value="<%= @chat_room.id %>">
<input type="hidden" id="current-user-id" value="<%= current_user.id %>">
<div class="max-w-md mx-auto bg-white shadow-md rounded-md p-4">
  <h2 class="text-xl font-semibold">Chat Room</h2>
  <div id="messages" class="border p-3 h-64 overflow-y-auto">
    <% @messages.each do |message| %>
      <% is_current_user = message.user_id == current_user.id %>
      <div class="p-2 <%= is_current_user ? 'bg-green-200 text:rigth' : 'bg-gray-100 text-left' %> rounded-md my-1">
        <strong><%= message.user.name %>:</strong> <%= message.content %>
      </div>
    <% end %>
  </div>
  
  <div class="mt-2 flex">
    <input type="text" id="message-input" class="border p-2 w-full rounded-l-md" placeholder="Type a message...">
    <button id="send-button" class="bg-blue-500 text-blue-50 px-4 py-2 rounded-r-md">Send</button>
  </div>
</div>
<%= link_to 'チャット一覧に戻る', chat_rooms_path %>