<% content_for :title, "ユーザー登録" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">ユーザー登録</h1>

  <%= render "form", user: @user %>
  <div>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
      data-client_id="<%= ENV['GOOGLE_CLIENT_ID'] %>"
      data-ux_mode="popup"
      data-login_uri="http://localhost:3000/users/auth/google_oauth2/callback"
      data-auto_prompt="false">
    </div>
    <div class="g_id_signin"
      data-type="standard"
      data-size="large"
      data-theme="outline"
      data-text="sign_in_with"
      data-shape="rectangular"
      data-logo_alignment="left">
    </div>
    <p>ID: <%= ENV['GOOGLE_CLIENT_ID'] %></p> 
  </div>
  <%= button_to "グーグルでのログイン", user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: false } %>

  <%= link_to "ユーザー一覧", users_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
