<h1>レシピ検索フォーム</h1>

<%= form_with url: searches_path, model: current_user, method: :post, local: true, data: { turbo: false } do |f| %>
  <fieldset>
    <legend>身体情報</legend>
    <%= f.fields_for :body_info, current_user do |bf| %>
      <div>
        <%= bf.label :age, "年齢" %>
        <%= bf.number_field :age, min: 0, value: current_user.age %>
      </div>
      <div>
        <%= bf.label :gender, "性別" %>
        <%= bf.select :gender, [["男性", "male"], ["女性", "female"]], include_blank: true, selected: current_user.gender %>
      </div>
      <div>
        <%= bf.label :height, "身長 (cm)" %>
        <%= bf.number_field :height, min: 0, value: current_user.height %>
      </div>
      <div>
        <%= bf.label :weight, "体重 (kg)" %>
        <%= bf.number_field :weight, min: 0, value: current_user.weight %>
      </div>
    <% end %>
  </fieldset>

  <fieldset>
    <legend>料理の複雑度</legend>
    <div>
      <%= f.label :recipe_complexity, "料理の複雑度" %>
      <%= f.select :recipe_complexity, [["簡単な料理", "簡単な料理"], ["指定なし", "指定なし"], ["手の込んだ料理", "手の込んだ料理"]], include_blank: true %>
    </div>
  </fieldset>

  <fieldset>
    <legend>具材情報</legend>
    <div>
      <%= f.label :ingredients_use, "使用したい具材 (カンマ区切り)" %>
      <%= f.text_field :ingredients_use, name: "user[ingredients][use]" %>
    </div>
    <div>
      <%= f.label :ingredients_avoid, "避けたい具材 (カンマ区切り)" %>
      <%= f.text_field :ingredients_avoid, name: "user[ingredients][avoid]" %>
    </div>
    <div>
      <%= f.label :available_name, "利用可能な具材の名前" %>
      <%= f.text_field :available_name, name: "user[available][name]" %>
    </div>
    <div>
      <%= f.label :available_amount, "量" %>
      <%= f.text_field :available_amount, name: "user[available][amount]" %>
    </div>
  </fieldset>

  <fieldset>
    <legend>調味料</legend>
    <div>
      <%= f.label :seasonings, "調味料の指定" %>
      <%= f.select :seasonings, [["基本的な調味料", "基本的な調味料"], ["凝った調味料", "凝った調味料"]], include_blank: true %>
    </div>
  </fieldset>

  <fieldset>
    <legend>要望</legend>
    <div>
      <%= f.label :preferences_goal, "料理の目的" %>
      <%= f.text_field :preferences_goal, name: "user[preferences][goal]" %>
    </div>
    <div>
      <%= f.label :preferences_calorie_and_pfc, "カロリーとPFC情報を含める" %>
      <%= f.check_box :preferences_calorie_and_pfc, name: "user[preferences][calorie_and_pfc]" %>
    </div>
  </fieldset>

  <div>
    <%= f.submit "レシピを検索する" %>
  </div>
<% end %>