<div>
<h1>レシピ詳細</h1>
    <% if @show_recipe.response_data.present? && @show_recipe.response_data["recipe"].present? %>
      <ul>
        <h1><strong><%= @show_recipe.response_data["recipe"]["title"] || "タイトルなし" %></strong></h1>
        <p><%= @show_recipe.response_data["recipe"]["description"] || "説明なし" %></p>
        <p><strong>材料:</strong></p>
        <ul>
          <% @show_recipe.response_data["recipe"]["ingredients"]&.each do |ingredient| %>
            <ul>
              <li><%= ingredient['name'] %>:<%= ingredient['amount'] %></li>
            </ul>
          <% end %>
        </ul>
        <p><strong>作り方:</strong></p>
        <ol>
          <% @show_recipe.response_data["recipe"]["steps"]&.each do |step| %>
            <li><%= step %></li>
          <% end %>
        </ol>
      </ul>
    <% else %>
      <li>レシピデータがありません</li>
    <% end %>
    <%= link_to "一覧に戻る", saved_searches_path %>
    <% if current_user.present? %>
      <%= button_to "削除", search_path(@show_recipe), method: :delete, data: { turbo_confirm: '削除しますか？' } %>
    <% end %>
</div>

